<div class="content">
  <div class="breadcrumb">
    <div class="constrained">
      <div class="media">
        <div class="media__bd">
          {{ wo_render_breadcrumbs( { 
  			separator: '/',
  			listClass: 'breadcrumb__list',
  			itemClass: 'breadcrumb__item',
        	linkClass: 'breadcrumb__item__link',
  			separatorClass: 'breadcrumb__item__separator',
  			viewTemplate: 'tfktelemarkSkoleBundle:parts:breadcrumbs.html.twig'
	      } ) }}  
        </div>
      </div>
    </div>
  </div>
</div>