

        <div class="content highlight--dark">
          <div class="constrained-content clearfix" style="margin-top: 0.5em; margin-bottom: 0.5em;">
            <div class="page-footer-nav" style="margin: 0px;">
              <ul class="page-footer-nav__list nav nav--small nav--short">
                <li class="nav__item"><a href="https://docs.google.com/spreadsheet/viewform?formkey=dDFHcVlIQW43eHhjWUdXSlh2WVVlUEE6MQ" class="nav__item__link">Tilbakemeldinger</a></li>
                <li class="nav__item"><a href="/Om-www.telemark.no" class="nav__item__link">Om nettstedet</a></li>
                <li class="nav__item"><a href="mailto:eva-susanne.drugg@t-fk.no" class="nav__item__link">Kontakt webmaster</a></li>
                <li class="nav__item"><a href="/login" class="nav__item__link">Logg inn</a></li>
              </ul>
            </div>
          </div>
        </div>
