{% set siteaccess = ezpublish.siteaccess.name %}

<div class="row block-contentlist">
    <div class="grid grid--12">
            <div class="block--box--wrapper">
                {% for locationId in contentArray %}
                    {{ render(controller('ez_content:viewLocation', {
                        'locationId': locationId,
                        'viewType': 'block_box'
                    })) }}
                {% endfor %}
            </div>
            <div class="item--aside calist">
              {{ render( controller( 'tfktelemarkSkoleBundle:Calendar:getLatestEvents' ) ) }}
            </div>
    </div>
</div>