<div class="grid grid--12 articles-3-1">

    {% for locationId in contentArray %}
        {% if locationId %}
            {{ render(controller('ez_content:viewLocation', {
                'locationId': locationId,
                'viewType': 'block_box'
            })) }}
        {% endif %}
    {% endfor %}
 
 </div>