system:
    default:
        image_variations:
            folder_full:
                reference: null
                filters:
                    - { name: geometry/scalewidth, params: [846] }
            latest_article:
                reference: null
                filters:
                    - {name: geometry/crop, params: [600, 600, 0, 0]}
                    - {name: geometry/scalewidth, params: [70]}
            article_list:
                reference: null
                filters:
                    - { name: geometry/scaledownonly, params: [420, 370] }
            article:
                reference: null
                filters:
                    - { name: geometry/scaledownonly, params: [420, 370] }
            article_large:
                reference: null
                filters:
                    - { name: geometry/scalewidth, params: [1200] }
                    - { name: geometry/crop, params: [1200, 500, 0, 0] }
            article_topic_large:
                reference: null
                filters:
                    - { name: geometry/scalewidth, params: [1200] }
            article_full_width:
                reference: null
                filters:
                    - { name: geometry/scaledownonly, params: [970, 600] }
            gallery:
                reference: null
                filters:
                    - { name: geometry/scaleexact, params: [960, 647] }
            original:
                reference: null