{% set url = content.getField( 'url' ) %}
{% set open_in_new_window = content.getField( 'open_in_new_window' ) %}
<div class="shortcut item--4-12">
    <h2><a href="{{ url.value.link }}" {% if open_in_new_window.value == true %}target="_blank"{% endif %}>{{ url.value.text }}</a></h2>
</div>
