{% extends noLayout ? viewbaseLayout : "tfktelemarkSkoleBundle::pagelayout.html.twig" %}

{% block content %}
<div class="content">
        <div class="constrained-content">
            <main id="main" role="main" tabindex="-1" class="main">
                                <article class="main__center-left no-top-spacing">
<header class="article__header">
    <h1>{{ ez_render_field( content, 'title' ) }}</h1>
</header>
    {% if not ez_is_field_empty( content, 'code' ) %}
        {{ content.contentInfo.code }}
    {% endif %}
             </article>
          </main>
      </div>
</div>
{% endblock %}