<div class="item item--vertical grid__item--{{ columns|default(4) }}-12">
    <div class="item__content">
        <h2 class="item__header">
            <a href="{{ path(location) }}" class="item__imglink imglink">
                {{ ez_render_field( content, 'title' ) }}
            </a>
        </h2>

        <div class="item__intro">

        </div>
    </div>
</div>