{% set url = content.getField( 'url' ) %}
{% set open_in_new_window = content.getField( 'open_in_new_window' ) %}
<div class="item item--vertical grid__item--{{ columns|default(4) }}-12">
          <figure class="ezimage-field">
            <img src="{{ asset('bundles/tfktelemarkskole/images/contenttype/bildetmangler.jpg') }}" alt="Mappe" />
        </figure>
    <div class="item__content">
        <h2 class="item__header">
            <a href="{{ url.value.link }}" {% if open_in_new_window.value == true %}target="_blank"{% endif %} class="item__imglink imglink">{{ ez_render_field( content, 'title') }}</a>
        </h2>

        <span class="sidenote">

        </span>

        <div class="item__intro">

        </div>
    </div>
</div>