{% extends noLayout ? viewbaseLayout : "tfktelemarkSkoleBundle::pagelayout.html.twig" %}

{% block content %}
        <div class="constrained-content">
            <main id="main" role="main" tabindex="-1" class="main">
                <article class="main__center-left">
                    <header class="article__header">
                        <h1>{{ ez_render_field( content, 'title' ) }}</h1>
                    </header>
                    <div class="content grid">
                    {% for item in items %}
                        {{ render(controller('ez_content:viewLocation', {
                                'locationId': item.id,
                                'viewType': 'line',
                                'columns': columns
                            }))
                        }}
                    {% endfor %}
                    </div>
                    {% include 'tfktelemarkSkoleBundle:parts:pagination.html.twig' %}
                </article>
                <aside class="main__right">
                    {{ render( controller( "tfktelemarkSkoleBundle:Sidebar:sidebarItems", {
                        'locationId': location.id }
                    )) }}
                </aside>
            </main>
        </div>
{% endblock %}