{% extends noLayout ? viewbaseLayout : "tfktelemarkSkoleBundle::pagelayout.html.twig" %}
{% block content %}
   <div class="content">
        <div class="constrained-content">
            <main id="main" role="main" tabindex="-1" class="main">

<h1>{{ content.contentInfo.name }}</h1>

          </main>
        </div>
    </div>
{% endblock %}