.btn,.btn--primary,.btn--link,.pagination__prev,.pagination__next,.pagination__list__link,.see-more {
    display: inline-block;
    border: 0;
    padding: .5em 1em;
    background-color: #e8f3f0;
    color: #000;
    cursor: pointer;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    text-decoration: underline;
}

.pagination__list__link--active {
    background-color: #ffd520;
    color: #000;
}

.breadcrumb__list:before,.clearfix:before,.content:before,.grid:before,.grid--12:before,.main:before,.menu:before,.nav:before,.page-footer__block-right:before,.page-footer__box:before,.page-header:before,.page-header__content:before,.pagination:before,.search-result:before,.search-result__item:before,.see-more:before,.slider__slides:before,.social-block:before,.social-links:before,.tabs:before,.tabs__bar:before,.tabs__content__item:before,.top-image__text:before,.breadcrumb__list:after,.clearfix:after,.content:after,.grid:after,.grid--12:after,.main:after,.menu:after,.nav:after,.page-footer__block-right:after,.page-footer__box:after,.page-header:after,.page-header__content:after,.pagination:after,.search-result:after,.search-result__item:after,.see-more:after,.slider__slides:after,.social-block:after,.social-links:after,.tabs:after,.tabs__bar:after,.tabs__content__item:after,.top-image__text:after {
    content: " ";
    display: table;
}

.breadcrumb__list:after,.clearfix:after,.content:after,.grid:after,.grid--12:after,.main:after,.menu:after,.nav:after,.page-footer__block-right:after,.page-footer__box:after,.page-header:after,.page-header__content:after,.pagination:after,.search-result:after,.search-result__item:after,.see-more:after,.slider__slides:after,.social-block:after,.social-links:after,.tabs:after,.tabs__bar:after,.tabs__content__item:after,.top-image__text:after {
    clear: both;
}


.breadcrumb__list,.calendar-list,.grid,.grid--12,.pagination__list,.search-result {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.visuallyhidden {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
}

.visuallyhidden-focusable {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
}

.visuallyhidden-focusable:active,.visuallyhidden-focusable:focus {
    position: static;
    margin: 0;
    clip: auto;
    width: auto;
    height: auto;
    overflow: visible;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,picture,section,summary {
    display: block;
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],template {
    display: none;
}

html {
    line-height: 1.5em;
}

button,input,select,textarea {
    font-family: "Telefon", sans-serif;
}

body {
    margin: 0;
    background-color: #fff;
    color: #000;
}

a {
    background: transparent;
    text-decoration: underline;
    color: #006878;
}

a:active,a:hover {
    outline: 0;
}

p,pre {
    margin: .5em 0;
}

blockquote {
    margin: 1em 0;
    border-left: .5em solid #ededed;
    padding: 0 1em;
    font-style: italic;
}

h1 {
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #000;
}

h1 {
    font-size: 2em;
    line-height: 1.25em;
    margin-top: .25em;
    1-bottom: .25em;
}

h2,.form__group__title {
    margin-bottom: 0;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.33333em;
    margin-top: 1.33333em;
}

.main__left>h2,.main__left>.form__group__title,.main__right>h2,.main__right>.form__group__title {
    margin-top: .66667em;
    margin-bottom: -1px;
    border-bottom: 1px solid #000;
}

h3 {
    margin-bottom: 0;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    font-weight: 400;
    font-size: 1.17em;
    line-height: 1.28205em;
    margin-top: 1.28205em;
}

h4 {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: .5em;
}

h5 {
    font-size: .83em;
    line-height: 1.80723em;
    margin-top: .60241em;
    margin-bottom: .60241em;
}

h6 {
    font-size: .67em;
    line-height: 1.49254em;
    margin-top: .74627em;
    margin-bottom: .74627em;
}

abbr[title] {
    border-bottom: 1px dotted;
}

abbr[title]:not(:hover) {
    border-bottom-color: #717171;
}

b,strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,kbd,pre,samp {
    font-family: monospace,serif;
    font-size: 1em;
    line-height: 1.5em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
}

picture img {
    display: block;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    margin: 0;
    border: 0;
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,input {
    line-height: normal;
}

button,select {
    text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

input[type="checkbox"],input[type="radio"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type="text"],input[type="number"],input[type="email"],input[type="tel"],input[type="url"],input[type="time"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="week"],input[type="month"],input[type="search"] {
    border: 1px solid #717171;
    padding: 0 5px;
    height: 1.375em;
    background-color: #fff;
    line-height: 1.375em;
}

input[type="text"]:hover,input[type="number"]:hover,input[type="email"]:hover,input[type="tel"]:hover,input[type="url"]:hover,input[type="time"]:hover,input[type="date"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="week"]:hover,input[type="month"]:hover,input[type="search"]:hover,input[type="text"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="url"]:focus,input[type="time"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="week"]:focus,input[type="month"]:focus,input[type="search"]:focus {
    border-color: #000;
}

input:disabled,input:disabled:hover,input:disabled:focus,input[readonly],input[readonly]:hover,input[readonly]:focus {
    background-color: #ededed;
}

input:invalid:not(:empty),input:invalid:not(:empty):hover,input:invalid:not(:empty):focus {
    border-color: #e30438;
}

kbd {
    border-width: 1px 1px 3px;
    border-style: solid;
    border-color: #717171;
    padding: 0 .2em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 2px 0 0 #fff;
    -webkit-box-shadow: inset 0 2px 0 0 #fff;
    box-shadow: inset 0 2px 0 0 #fff;
}

main:focus,main:target,#main:focus,#main:target {
    outline: none;
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,a[href^="#"]:after {
        content: "";
    }

    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: .5cm;
    }

    p,h2,.form__group__title,h3 {
        orphans: 3;
        widows: 3;
    }

    h2,.form__group__title,h3 {
        page-break-after: avoid;
    }
}

textarea {
    border: 1px solid #717171;
    padding: .5em;
    width: 100%;
    line-height: 1.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

textarea:hover,textarea:focus {
    border-color: #000;
}

textarea:disabled,textarea:disabled:hover,textarea:disabled:focus,textarea[readonly],textarea[readonly]:hover,textarea[readonly]:focus {
    background-color: #ededed;
}

textarea:invalid:not(:empty),textarea:invalid:not(:empty):hover,textarea:invalid:not(:empty):focus {
    border-color: #e30438;
}

.article__header {
    margin-bottom: .5em;
}

.article__header h1 {
    margin-bottom: .25em;
}

.breadcrumb {
    background-color: #ededed;
    padding: 1em 0;
    font-family: "Telefon";
}

.breadcrumb__list {
    margin: .66667em 0;
    font-size: .75em;
    line-height: 1.33333em;
}

.breadcrumb__item {
    float: left;
}

.breadcrumb__item__link {
    float: left;
    margin-right: 5px;
}

.breadcrumb__item__link--active {
    margin-right: 0;
}

.breadcrumb__item__separator {
    float: left;
    margin-right: 5px;
    color: #717171;
}

.btn i {
    vertical-align: text-bottom;
}

.btn--primary {
    background-color: #ffd520;
}

.btn--link {
    background-color: transparent;
}

.byline {
    margin: .4em 0;
    font-size: 1.25em;
    line-height: 1.2em;
}

.calendar-list__item {
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 1em;
}

.calendar-list__sheet {
    float: left;
    margin-right: 1em;
    border: 1px solid #717171;
    padding: 0 4px;
    width: 2.5em;
    text-align: center;
}

.calendar-list__item--expired .calendar-list__sheet {
    border-color: #ededed;
    color: #717171;
}

.calendar-list__sheet__month {
    display: block;
    border-bottom: 1px solid #ededed;
    margin-bottom: -1px;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-size: .625em;
    line-height: 1.6em;
}

.calendar-list__sheet__day {
    display: block;
    padding: .4375em 0;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    font-weight: 700;
}

.calendar-list__item--expired .calendar-list__sheet__day {
    font-weight: 400;
}

.calendar-list__desc {
    overflow: hidden;
}

.calendar-list__desc__header {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.calendar-list__desc__intro {
    margin: .5em 0;
}

.calendar {
    margin: .9375em auto;
    border: 1px solid #717171;
    width: 100%;
    max-width: 25em;
    text-align: center;
    table-layout: fixed;
    border-collapse: separate;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

.calendar__head {
    font-size: .75em;
    line-height: 1.33333em;
}

.calendar__head,.calendar__head .calendar__day {
    line-height: 1.66667em;
}

.calendar__head abbr {
    border-bottom: 0;
}

.calendar__head__nav__icon {
    display: block;
    width: 24px;
    height: 22px;
    background-position: 50% 50%;
}

.calendar__day {
    border: 0;
    line-height: 1.75em;
}

.calendar__day--today {
    background-color: #ffd520;
}

.calendar__day--weekend {
    color: #e30438;
}

.calendar__day--other-month {
    color: #7f7f7f;
}

.calendar__day--other-month.calendar__day--weekend {
    color: #f1819b;
}

.constrained-content {
    margin-top: 2em;
    margin-bottom: 2em;
}

.content {
    height: 100%;
    overflow: auto;
}

.font-adjust__char--large {
    font-size: 1.33333em;
    line-height: 1em;
}

.font-adjust__message {
    position: absolute;
    display: none;
    top: .88889em;
    left: 0;
    padding: .88889em;
    width: 100%;
    background: #ededed;
    z-index: 2000;
    box-sizing: border-box;
    box-shadow: 0 0 16px rgba(0,0,0,0.3);
    font-size: 2.25em;
    line-height: 1.11111em;
}

.font-adjust__message--active {
    display: block;
}

.form__group {
    margin: 1em 0;
    padding: .5em 1em;
    background-color: #ededed;
}

.form__group__title {
    display: block;
    width: 100%;
}

.form__question-group {
    margin: .5em 0;
}

.form__element--has-error {
    color: #b5032c;
    margin: .4375em -1em;
    border-left: .25em solid #e30438;
    padding: 0 1em 0 .75em;
    background-color: #fce5eb;
}

.form__element--has-error input {
    border-color: #e30438;
}

.form__element__help {
    font-size: .75em;
    line-height: 1.33333em;
}

.form__label {
    display: block;
}

.form__label__question {
    display: block;
    margin-bottom: -.5em;
}

.form__required {
    border-bottom: 0;
    font-weight: 700;
    color: #e30438;
}

.form__radio {
    display: block;
}

.form__radio--inline {
    margin-right: 1em;
    display: inline-block;
}

.form__radio__label {
    margin-left: .5em;
}









.highlight {
    background: #ededed;
}

.highlight--dark {
    background: #000;
    color: #fff;
}

.highlight--dark a {
    color: #fff;
}

.highlight--dark .nav,.highlight--dark .nav__item,.highlight--dark .side-menu,.highlight--dark .side-menu__item {
    border-color: #717171;
}

.highlight--dark .tabs,.highlight--dark .tabs__bar,.highlight--dark .tabs__bar__item__link {
    border-color: #ededed;
}

.highlight--dark .sidenote {
    color: #c2c2c2;
}

.highlight--pattern {
    background-image: url(../images/header/background.png);
    background-image: url(../images/header/background.svg),none;
}

.imglink {
    display: block;
    border-bottom: 0;
}

.imglink img {
    display: block;
}

.item__intro {
    font-size: .875em;
    line-height: 1.71429em;
    margin-top: .57143em;
}

.item {
    position: relative;
    padding: 1em 0;
    overflow: hidden;
}

.item__content {
    overflow: hidden;
}

.item__icon {
    width: 48px;
    height: 48px;
    background-position: 50% 50%;
    margin-top: .57143em;
}

.item__header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25em;
    line-height: 1.2em;
}

@media (min-width: 25em) and (max-width: 37.5em) {
    .item--vertical .item__header {
        margin-top: 0;
    }
}

.item--horizontal .item__header {
    margin-top: 0;
}

.item__intro {
    margin: 0 0 1.14286em;
}

@media (min-width: 25em) and (max-width: 37.5em) {
    .item--vertical .item__imglink {
        float: left;
        margin-right: 20px;
        max-width: 50%;
    }
}

@media (min-width: 64em) {
    .main {
        margin: 0 -1.38889%;
    }
}

.main__center,.main__center-right,.main__right,.main__left {
    min-height: 1em;
}

@media (min-width: 64em) {
    .main__center {
        width: 47.22222%;
        float: left;
        margin-left: 1.38889%;
        margin-right: 1.38889%;
        margin-left: 26.38889%;
    }
}

@media (min-width: 64em) {
    .main__center-right {
        width: 72.22222%;
        float: left;
        margin-left: 1.38889%;
        margin-right: 1.38889%;
        margin-left: 26.38889%;
    }
}

.main__right {
    font-family: "Telefon", sans-serif;
    font-size: .75em;
    line-height: 1.33333em;
}

.main__right p {
    font-family: "Open Sans";
}

.main__right h2,.main__right .form__group__title {
    font-size: 2em;
    line-height: 1.33333em;
}

.main__right h3 {
    font-size: 1.56em;
    line-height: 1.28205em;
}

.main__right h4 {
    font-size: 1.33333em;
    line-height: 1.5em;
}

.main__right p,.main__right ul,.main__right ol,.main__right pre {
    margin-top: .66667em;
    margin-bottom: .66667em;
}

.main__right .calendar-list__item {
    margin-top: 1.33333em;
    margin-bottom: 1.33333em;
}

.main__right .calendar,.main__right .calendar-list__sheet {
    font-size: 1.33333em;
    line-height: 1.5em;
}

@media (min-width: 64em) {
    .main__right {
        width: 22.22222%;
        float: left;
        margin-left: 1.38889%;
        margin-right: 1.38889%;
    }
}

@media (min-width: 64em) {
    .main__left {
        position: relative;
        float: left;
        margin-right: 1.38889%;
        width: 22.22222%;
        margin-left: -98.61111%;
    }
}

.main__left .side-menu {
    margin-top: 0;
    border-top: 0;
}

.media,.media__bd {
    overflow: hidden;
}

.media__img--right {
    float: right;
    margin-left: 1em;
}

.media__img--right img {
    display: block;
}

.media__img {
    float: left;
    margin-right: 1em;
}

.media__img img {
    display: block;
}

@media (min-width: 37.5em) {
    .object-left {
        float: left;
        margin: .5em 1em 1em 0;
    }
}

@media (min-width: 37.5em) {
    .object-right {
        float: right;
        margin: .5em 0 1em 1em;
    }
}

.page-footer-nav {
    margin: 2em 0 -2em;
    text-align: center;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

.page-footer-nav__list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: inline-block;
}

.page-footer {
    margin-right: -.83333%;
    margin-left: -.83333%;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

@media (min-width: 64em) {
    .page-footer {
        margin-right: -1.38889%;
        margin-left: -1.38889%;
    }
}

.page-footer h2,.page-footer .form__group__title,.page-footer h3 {
    border-bottom: 0;
}

.page-footer h3 {
    margin-bottom: 0;
}

.page-footer p {
    margin-top: 0;
}

.page-footer ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

.page-footer .side-menu {
    margin-bottom: 1.5em;
}

.page-footer .side-menu a {
    padding-top: 0;
    padding-bottom: 0;
}

@media (min-width: 64em) {
    .page-footer__block-left,.page-footer__block-right {
        float: left;
        width: 50%;
    }
}

.page-footer__box {
    margin-top: 1.4375em;
    margin-right: -.5em;
    margin-left: -.5em;
    border: 1px solid #333;
    padding: .5em .5em .4375em;
}

@media (min-width: 37.5em) {
    .page-footer__box {
        margin-right: 0;
        margin-left: 0;
        padding-bottom: 1.9375em;
    }
}

@media (min-width: 64em) {
    .page-footer__box {
        margin-top: -.5625em;
        margin-right: 2.77778%;
    }
}

@media (min-width: 37.5em) {
    .page-footer__content {
        margin-bottom: -1.5em;
        width: 47.22222%;
        float: left;
        margin-left: 1.38889%;
        margin-right: 1.38889%;
    }
}

@media (min-width: 64em) {
    .page-footer__content {
        width: 44.44444%;
        float: left;
        margin-left: 2.77778%;
        margin-right: 2.77778%;
    }
}

.page-header {
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

@media (min-width: 64em) {
    .page-header {
        position: relative;
        z-index: 1000;
    }
}

.page-header .nav a,.page-header .page-header__logo {
    text-decoration: none;
}

.page-header__content {
    position: relative;
}

.page-header__skip-to:focus {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ededed;
}

.page-header__logo {
    display: block;
    margin: 1em 9em 1em 0;
}

@media (min-width: 37.5em) {
    .page-header__logo {
        margin: 2em 0;
    }
}

.page-header__logo img {
    display: block;
    width: 22em;
}

.page-header__content.hjalmarj img {
    width: 34em;
}
.page-header__content.vest_vgs img {
    width: 27em;
}

.page-header__search {
    display: none;
}

@media (min-width: 64em) {
    .page-header__search {
        display: block;
        position: absolute;
        right: 0;
        bottom: 2em;
    }
}

.page-header__nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 64em) {
    .page-header__nav {
        display: block;
        float: right;
    }
}

.pagination__prev {
    float: left;
    padding-left: 1.5em;
    background-position: 8% 50%;
}

.pagination__next {
    float: right;
    padding-right: 1.5em;
    background-position: 92% 50%;
}

.pagination__list {
    display: none;
    text-align: center;
}

@media (min-width: 37.5em) {
    .pagination__list {
        display: block;
    }
}

.pagination__list--small {
    display: block;
}

@media (min-width: 37.5em) {
    .pagination__list--small {
        display: none;
    }
}

.pagination__list__item {
    display: inline-block;
}

.pagination__count {
    display: inline-block;
    padding: .5em 0;
}

.quote {
    display: block;
    font-size: 1.75em;
    line-height: 1.14286em;
    margin-top: .57143em;
    margin-bottom: .57143em;
}

.quote .social-links {
    font-size: .57143em;
    line-height: 1.5em;
}

@media (min-width: 37.5em) {
    .search-result {
        margin: 0 -1.85185%;
    }
}

.search-result__item {
    margin: 2em 0;
}

.search-result__item__img {
    display: block;
    float: right;
    margin-left: .83333%;
    border-bottom: 0;
    max-width: 33%;
}

@media (min-width: 37.5em) {
    .search-result__item__img {
        width: 13.88889%;
        float: left;
        margin-left: 1.38889%;
        margin-right: 1.38889%;
    }
}

@media (min-width: 64em) {
    .search-result__item__img {
        width: 18.51852%;
        float: left;
        margin-left: 1.85185%;
        margin-right: 1.85185%;
    }
}

.search-result__item__img img {
    display: block;
}

@media (min-width: 37.5em) {
    .search-result__content {
        width: 80.55556%;
        float: right;
        margin-left: 1.38889%;
        margin-right: 1.38889%;
    }
}

@media (min-width: 64em) {
    .search-result__content {
        width: 74.07407%;
        float: right;
        margin-left: 1.85185%;
        margin-right: 1.85185%;
    }
}

.search-result__item__header {
    margin: 0;
    border-bottom: 0;
}

.search {
    position: relative;
    border: 1px solid #000;
    width: 100%;
}

input.search__field {
    display: block;
    border: 0;
    padding: .4375em 32px .4375em .5em;
    width: 100%;
    height: 1.875em;
    background: transparent;
    line-height: 1em;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

input.search__field:focus {
    outline: 0;
}

.search__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 100%;
    border: 0;
    background-color: transparent;
    background-position: 50% 50%;
    text-indent: -999em;
    overflow: hidden;
}

.see-more {
    float: right;
    margin-bottom: 1em;
    padding-right: 1.5em;
    background-position: 94% 50%;
}

.side-menu {
    margin-bottom: 1.5em;
    border-top: 1px solid #bdbdbd;
    padding: 0;
    list-style: none;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

.highlight--dark .side-menu {
    border-top-color: #333;
}

.side-menu__item {
    position: relative;
    border-bottom: 1px solid #bdbdbd;
    zoom: 1;
}

.highlight--dark .side-menu__item {
    border-bottom-color: #333;
}

.side-menu__item a {
    position: relative;
    display: block;
    border-bottom: 0;
    padding: .5em 0;
}

.side-menu__item a:after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    width: 10px;
    height: 16px;
    background-position: 100% 50%;
}

.side-menu__link--active {
    font-weight: 700;
}

.side-menu__link--expanded:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.side-menu__submenu {
    margin-bottom: .57143em;
    list-style: none;
    font-size: .875em;
    line-height: 1.14286em;
}

.side-menu__submenu a {
    padding: .57143em 0;
}

.side-menu__submenu a:after {
    left: -1.14286em;
}

.sidenote {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: .75em;
    line-height: 1.33333em;
}







.social-block {
    text-align: center;
}

@media (min-width: 37.5em) {
    .social-block {
        text-align: left;
    }

    .social-block,.social-block__other {
        overflow: hidden;
    }
}

@media (min-width: 37.5em) {
    .social-block__social-links {
        float: right;
        margin-left: 2em;
    }

    .social-block__social-links img {
        display: block;
    }
}

.social-links {
    margin: 0 -.125em;
    padding: 0;
    list-style: none;
}

.social-links li {
    margin: 0 .25em;
    display: inline-block;
}

.social-links li a {
    display: block;
}

.social-links__link {
    cursor: pointer;
}

.social-links__link,.social-links__link:hover,.social-links__link:focus,.social-links__link:active {
    border-bottom: 0;
}

.social-links__link__icon {
    display: block;
    background-color: #000;
    background-position: 50% 50%;
    width: 24px;
    height: 24px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.social-links__link__icon--small {
    width: 16px;
    height: 16px;
}

.tabs__bar,.tabs__content {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs {
    margin-top: 2em;
    margin-bottom: 2em;
}

.tabs__bar {
    display: none;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

@media (min-width: 64em) {
    .tabs__bar {
        display: block;
        width: 100%;
        text-align: center;
    }

    .tabs__bar__item {
        display: inline-block;
        margin: 0 .125em;
    }

    .tabs__bar__item__link {
        position: relative;
        display: block;
        padding: .4375em 20px;
        background-color: #e8f3f0;
        color: #000;
        z-index: 100;
    }

    .tabs__bar__item__link--active {
        background-color: #ffd520;
        z-index: 101;
    }
}

@media (max-width: 64em) {
    .tabs__content {
        margin-right: -.5em;
        margin-left: -.5em;
        border: 1px solid #000;
    }
}

.tabs__content__header {
    margin: -1px -.44444em;
    border-width: 1px 0;
    border-style: solid;
    border-color: #000;
    padding: .38889em .44444em;
    background-color: #e8f3f0;
    font-size: 1.125em;
    line-height: 1.33333em;
}

@media (max-width: 64em) {
    .tabs__content__header--active {
        background-color: #ffd520;
    }
}

@media (min-width: 64em) {
    .tabs__content__header {
        margin-top: 0;
        margin-right: 0;
        padding-right: .88889em;
        padding-left: .88889em;
    }

    .tabs--ready .tabs__content__header {
        display: none;
    }
}

.tabs__content__block:target,.tabs__content__block:focus {
    outline: none;
}

.tabs__content__block--hidden {
    display: none;
}

@media (max-width: 64em) {
    .tabs__content__item {
        margin: 0 .5em;
    }
}

.tabs__content__item a {
    color: #000;
}

.tabs__content__item__active {
    display: block;
}

.top-image {
    position: relative;
    display: block;
    margin-right: -20px;
    margin-left: -20px;
    border: 0;
    font-family: "Telefon","Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

@media (min-width: 64em) {
    .top-image {
        margin-right: 0;
        margin-left: 0;
    }
}

.top-image--small {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: .75em;
    line-height: 1.33333em;
}

.top-image__img {
    display: block;
}

.top-image__text-wrapper {
    padding: .5em 0;
    width: 100%;
    background: #ededed;
    color: #000;
}

.top-image__text {
    position: relative;
    display: block;
    padding: 0 10px;
}

.top-image--large .top-image__text {
    padding: .5em 20px;
}

@media (min-width: 64em) {
    .slider .top-image__text {
        padding: .5em 35px .5em 0;
    }
}

.top-image__header {
    font-size: 1.125em;
    line-height: 1.33333em;
}

.top-image--large .top-image__header,.slider .top-image__header {
    margin: 0 0 .28571em;
    font-size: 1.75em;
    line-height: 1.14286em;
}

.top-image__body {
    font-size: .875em;
    line-height: 1.71429em;
}

.top-image--large .top-image__body,.slider .top-image__body {
    font-size: 1.25em;
    line-height: 1.2em;
}

.top-image__expand-link {
    display: none;
}

@media (min-width: 64em) {
    .top-image__expand-link {
        display: block;
        float: right;
        margin-top: -32px;
        border: 0;
        width: 32px;
        height: 32px;
        opacity: .5;
    }

    .top-image__expand-link:hover,.top-image__expand-link:focus {
        opacity: 1;
    }
}