.presentation--left {
  width: 72%;
  float: left;
  @include breakpoint(small) {
    width: 100%;
  }
}

.presentation--sidebar-right {
  float: right;
  width: 24%;
  @include breakpoint(small) {
    width: 100%;
  }
}

.article-left {
  > figure {
      float: right;
      padding: 0em 0em .75em 1.25em;
  }
}

.article-right {
  > figure {
      float: left;
      padding: 0em 1.25em .75em 0em;
  }
}

.article-right,
.article-left {
   figure {
    @media screen and (min-width: 0px) and (max-width: 550px) {
      width: 50%;
    }
  }
}

.more-information-header {
  border-bottom: 1px solid $tfk-black;
}

.clearfix {
  clear: both;
}

.ingress {
    margin: 0 0 .5em 0;
    font-size: 1.125em;
    line-height: 1.2em;
}

.main__center-left {
  margin-top: 3em;

  &.no-top-spacing {
    margin-top: 0;
  }
}

.caption {
  font-size: .75em;
}

.article__header {
  margin-bottom: .75em;
  margin-top: 2.75em;
}


