body {
    ms-word-wrap: normal;
    word-wrap: normal;
}

.pagination {
    position: relative;
    text-align: center;
}

.pagination ul {
    list-style: none;
    padding-left: 85px;
    padding-right: 85px;
}

.pagination li {
    display: inline-block;
    margin: 5px;
}

.pagination .prev {
    position: absolute;
    left: 0;
}

.pagination .prev a:before {
    color: #383838;
    font-size: 27px;
    margin-left: -13px;
    position: absolute;
}

.pagination .next {
    position: absolute;
    right: 0;
}

.pagination .next a:after {
    color: #383838;
    font-size: 27px;
    margin-left: 4px;
    position: absolute;
}

.pagination .next span, .pagination .prev span {
    background-color: #e8f3f0;
    border: 0 none;
    color: #6c6c6c;
    display: inline-block;
    padding: 0.5em 1em;
}

.pagination a {
    background-color: #e8f3f0;
    border: 0 none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: underline;
}

.pagination li.active span {
    background-color: #ffd520;
    color: #000;
    border: 0 none;
    display: inline-block;
    padding: 0.5em 1em;
}

.pagination__next a, .pagination__prev a {
    padding: 0;
}

.main .pagination {
    float: left;
    width: 100%;
}

.main__center-left {
    width: 72.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
}

/*.main__center {
    display: inline-block;
    float: none;
    margin-left: 1.38889%;
}

.main__left {
    margin-left: 0;
}
.main__right {
    float: right;
}
*/
input #basicsearch_term {
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

.slider__slide a {
    float: left;
}

.block_contentbox, .block_contentbox3x1 {
    padding: 1em 0em;
}

.block_contentbox .item, .block_contentbox3x1 .item {
    background-color: #007c97;
    color: #fff;
    text-align: center;
    height: 100px;
    margin-bottom: 1em;
}
.block_contentbox .item a {
    color: #fff;
}

.block_contentbox3x1 .item {
    background-color: #007c97;
    color: #fff;
    text-align: center;
    height: 100px;
}
.block_contentbox3x1 .item a {
    color: #fff;
}

@media (min-width: 64em) {
    .grid__item--8-12 {
        width: 69.44444%;
        float: left;
        margin-left: 2.77778%;
        margin-right: 2.77778%;
        float: left
    }
}

@media (min-width: 64em) {
    .grid,
    .grid--4 {
        margin-right: -1.38889%;
        margin-left: -1.38889%
    }
    .grid--8 {
        margin-right: -1.38889%;
        margin-left: -1.38889%
    }
}
