@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 800px) { @content; }
  }
  @if $point == medium {
    @media (max-width: 1024px) { @content; }
  }
}

*, * > * {
    box-sizing: border-box;
}

// Stens stiler:

@import "_vars";
@import "susy";
@import "_social-icons";

@import "_slider";
@import "_grids";
@import "_nav";
@import "_image-styles";

@import "_aside";
@import "_article";
@import "_main";
@import "_pagina";
@import "_table-styling";
@import "_search";
@import "_skole";

// Generelle stiler

body {
    font-family: $open-sans;
    a {
        word-wrap: break-word;
    }
}

h1 {
  margin-top: .75em;
  margin-bottom: .5em;
}

.constrained,
.constrained-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1060px;
}


// Spesifikk justering av luft @ landingpage
.landing-page--dynamic {
 @include breakpoint(small) {
    margin-top: 1.5em;
 }   
}



// Clearfix grids
.item {
    &:last-child {
        clear: both;
    }
}





.block_contentbox {
    padding: 1em 0em;
}

// Må ryddes opp i
.landing-page--dynamic {
    .block_contentbox {
        padding: 1em 0em;
        @include breakpoint(medium) {
           padding: 0;
        }   
    }
}






@media screen and (max-width: 63.95em) {
    .item {
        padding: .5em 0;

        &:last-child {
            clear: both;
        }
    }

    .grid img {
        width: 100%;
    }
}



// Forsideknappene
.item--4-12 {
    color: $tfk-black;
    text-decoration: none;
    background: $tfk-yellow;
    margin-bottom: 1em;
    padding: 2em;
    text-align: center;

    @include span(4 of 12);
    &:last-child {
        @include span(4 of 12 last);
    }

    h2 {
        margin-top: 0;

        a {
            text-decoration: none;
            color: $tfk-black;
        }
    }
}


// Forsideknappene --- med «siste hendelser»-blokk
.block_contentbox2x2andlatest {
    padding: 0em 0em 2em;
    .item--4-12 {
        @extend .item--4-12;
        @include span(4 of 12);
        &:last-child {
            @include span(4 of 12);
        }
    }
    .block--box--wrapper {
        @include span(8 of 12 nest);
            @include breakpoint(medium) {
                @include span(12 of 12);
            }
        .item--4-12 {
            @include gallery(4 of 8);
            &:nth-child(2n1) {
                @include gallery(4 of 8 last);
            }
        }
    }
}


// Snarveier
.item--aside {
    background: $tfk-yellow;
    @include span(4 of 12 last);
    position: relative;
    font-family: 'Telefon';
    float: right;

    ul {

        list-style: none;

        li {
            a {
                text-decoration: none;
                color: $tfk-black;
                font-size: 1.25em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    h2 {
        padding-left: 40px;
        margin-top: 20px;
    }

    hr {
        margin: .25em 0;
        border: 1px solid black;
        max-width: 96%;
        margin: 0 auto;
    }
}



@media screen and (min-width:320px) and (max-width: 1024px) {

    .block_contentbox3x1 {
        padding: 0;
    }


    .item--aside {
        position: relative;
        @include span(12 of 12);
        min-height: initial;
        height: auto;
        margin-bottom: 1em;

        h2, ul {
            text-align: center;
            padding: 0;
        }
    }

}





@media screen and (min-width:320px) and (max-width: 1024px) {
    .item--4-12 {
        @include span(12 of 12);
        &:last-child {
            @include span(12 of 12);
        }
    }
}



.item--3-3 {
    color: $tfk-black;
    text-decoration: none;
    margin-bottom: 1em;

    @include span(4 of 12);
    &:nth-child(2) {
        @include span(4 of 12 last);
    }

    h2 {
        margin-top: 0;

        a {
            text-decoration: none;
            color: $tfk-black;
        }
    }
}

@media screen and (min-width:320px) and (max-width: 1024px) {
    .item--3-3 {
        @include span(12 of 12);
        &:last-child {
            @include span(12 of 12);
        }
        &:nth-child(2) {
            @include span(12 of 12);
        }

    }
}


.intro-text {
    width: 100%;
    bottom: .875em;
    margin-top: 0.75em;
    margin-bottom: 1.5em;

    h4 {
        margin-top: .25em;
        margin-bottom: .25em;
        line-height: 1em;
    }

    h4, h4 a {
        text-decoration: none;
        color: $tfk-black;
    }

    h4 a {
        &:hover {
            border-bottom: 2px solid $tfk-black;
        }
    }

    p, a {
        font-size: 14px;

    }
}


@media screen and (min-width:64em) {
    .grid__item--6-12 {
        @include gallery(6 of 12);
        position: relative;
    }
}
@media screen and (max-width: 63.95em) {
    .grid__item--6-12 {
        @include span(12 of 12);
    }

    .intro-text {
        padding: 0em 1em;
    }
}


// Folder grid
.grid__item--4-12 {
    color: $tfk-black;
    text-decoration: none;
    margin-bottom: 1em;
    @include span(12 of 12);
    // &:nth-child(3n) {
    //     @include span(4 of 12 last);
    // }

    h2 {
        margin-top: 0;

        a {
            text-decoration: none;
            color: $tfk-black;
        }
    }

    .ezimage-field {
        float: left;
        width: 40%;
        padding-right: 2em;
    }
}

// @media screen and (min-width:320px) and (max-width: 1024px) {
//     .grid__item--4-12  {
//         @include span(12 of 12);
//         &:nth-child(3n){
//             @include span(12 of 12);
//         }
//     }
// }






.grid.grid--12 {
    position: relative;
}


// 3x1 artikler 
.articles-3-1 {
    .item--4-12 {
        background-color: $tfk-blue;
    }
}


// Fjerne padding på håndholdt
// Fjerne navigasjonspiler slider håndholdt
// Justerer luft logo > håndholdt

@media screen and (min-width:320px) and (max-width: 880px) {
    .constrained, .constrained-content {
        padding: 0;
    }



    .page-header__logo {
        margin: 1em 6.475em 1em 1em;
    }
}


// merged in
body {
    ms-word-wrap: normal;
    word-wrap: normal;
}

.pagination {
    position: relative;
    text-align: center;
}

.pagination ul {
    list-style: none;
    padding-left: 85px;
    padding-right: 85px;
}

.pagination li {
    display: inline-block;
    margin: 5px;
}

.pagination .prev {
    position: absolute;
    left: 0;
}

.pagination .prev a:before {
    color: #383838;
    font-size: 27px;
    margin-left: -13px;
    position: absolute;
}

.pagination .next {
    position: absolute;
    right: 0;
}

.pagination .next a:after {
    color: #383838;
    font-size: 27px;
    margin-left: 4px;
    position: absolute;
}

.pagination .next span, .pagination .prev span {
    background-color: #e8f3f0;
    border: 0 none;
    color: #6c6c6c;
    display: inline-block;
    padding: 0.5em 1em;
}

.pagination a {
    background-color: #e8f3f0;
    border: 0 none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: underline;
}

.pagination li.active span {
    background-color: #ffd520;
    color: #000;
    border: 0 none;
    display: inline-block;
    padding: 0.5em 1em;
}

.pagination__next a, .pagination__prev a {
    padding: 0;
}

.main .pagination {
    float: left;
    width: 100%;
}

.main__center-left {
    width: 72.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
    @include breakpoint(small) {
        width: 100%;
        margin: 0;
        padding-left: .25em;
        padding-right: .25em;
    }
}






input #basicsearch_term {
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

.slider__slide a {
    float: left;
}



.block_contentbox3x1  {
    padding: 0em 0em;
}


.block_contentbox .item, .block_contentbox3x1 .item {
    background-color: #007c97;
    color: #fff;
    text-align: center;
    height: 100px;
    margin-bottom: 1em;
}
.block_contentbox .item a {
    color: #fff;
}

.block_contentbox3x1 .item {
    background-color: #007c97;
    color: #fff;
    text-align: center;
    height: 100px;
}
.block_contentbox3x1 .item a {
    color: #fff;
}

