{{ ez_render_field(
    content, 'image', {
        'parameters': {
            'alias': objectParameters.size,
            'class': 'img-responsive'
        }
    }
) }}
 {% if not ez_is_field_empty(content, 'caption') %}
<div>
     {{ ez_render_field( content, 'caption') }}
</div>
{% endif %}