<div class="row dummmy-block">
    <h4 class="text-right">{{ 'Dummy block'|trans }}</h4>
    <div class="dummy-block-text">
        {% if dummy_text is defined %}{{ dummy_text }}{% endif %}
    </div>
</div>